@import "/styles/mixins";

.button {
  @include regular-text;
  background: none;
  border: none;
  border-radius: 20px;
  padding: 10px 34px;
  cursor: pointer;

  @include laptop1250 {
    min-width: 140px;
  }

  @include laptop1050 {
    min-width: 110px;
    padding: 8px 20px;
  }

  @include tablet850 {
    padding: 5px 12px;
  }

  &__orange {
    @extend .button;
    background: $c-orange;
    color: $c-white;
  }

  &__transparent {
    @extend .button;
    color: $c-orange;
    font-weight: 200;
    border: 2px solid $c-orange;
  }

  &__default {
    @extend .button;
    color: $c-orange;
    padding: 0;
  }

  &__wide {
    width: 100%;
  }
}