@import "../../../styles/mixins";

.button {
  @include regular-text;
  background: none;
  border: none;
  border-radius: 20px;
  padding: 10px 34px;
  cursor: pointer;
  min-width: 170px;

  &Orange {
    @extend .button;
    background: $c-orange;
    color: $c-white;
  }

  &Transparent {
    @extend .button;
    color: $c-orange;
    font-weight: 200;
    border: 2px solid $c-orange;
  }

  &Default {
    @extend .button;
    color: $c-orange;
    padding: 0;
  }
}