@import "../../../styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__info {
    margin: 0 auto;
    text-align: center;
  }
  h4 {
    @include bold-text;
  }
  p {
    @include regular-text;
    font-weight: bold;
    color: $c-gray;
  }
  h6 {
    @include small-text;
    font-weight: bold;
    color: $c-dark-gray;
    margin-top: 20px;
  }
}