@import "/styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include laptop1050 {
    width: 380px;
  }

  @include tablet850 {
    width: 320px;
  }

  @include tablet720 {
    width: 250px;
  }

  @include tablet620{
    width: 210px;
  }

  @include phone {
    align-items: center;
  }

  &__img {
    @include phone {
      margin-top: -70px;
      margin-bottom: -120px;
    }
  }

  &__info {
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    @include phone {
      margin-top: 55px;
    }
  }

  &__items {
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
  }

  &__ourDoctor {
    width: 250px;
    height: 250px;
  }

  h4 {
    @include bold-text;
    margin-bottom: 10px;

    @include phone {
      @include regular-text;
      font-weight: bold;
    }
  }

  p {
    @include regular-text;
    font-weight: bold;
    color: $c-gray;
    @include phone {
      font-weight: normal;
    }
  }

  h6 {
    @include small-text;
    font-weight: bold;
    color: $c-dark-gray;
    margin-top: 20px;
  }

  img {
    @include phone {
      width: 250px;
      height: 250px;
    }
  }

}