@import "/styles/mixins.scss";

.profile {
  width: 500px;
  min-height: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px $c-dark-gray solid;
  border-radius: 20px;
  margin-right: 70px;
  padding-bottom: 20px;

  @include laptop1250 {
    width: 400px;
  }

  @include laptop1050 {
    width: 330px;
  }

  @include tablet850 {
    width: 270px;
  }

  @include tablet720 {
    width: 400px;
  }

  @include tablet620 {
    width: 350px;
  }

  @include phone {
    width: 270px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__flex{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid $c-black;

    @include tablet850 {
      width: 100px;
      height: 100px;
    }
  }
}