@import "/styles/mixins";

.doctor__slider {
  width: 1200px;

  @include laptop1250 {
    width: 1000px;
    margin-top: 60px;
    display: none;
  }

  @include phone {
    width: 350px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 200px;
    z-index: 4;
    cursor: pointer;
    //@include laptop1250 {
    //  display: none;
    //}
  }
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  width: 44px;
  height: 44px;
  background: $c-white no-repeat center;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 24px rgba(0, 11, 38, 0.12);
}

.swiper-button-prev-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}

.swiper-button-next-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -10px;
}

.swiper-button-prev-custom.swiper-button-disabled,
.swiper-button-next-custom.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

//@media screen and (min-width: 1420px){
//  .doctor__slider {
//    width: 1420px;
//  }
//}
//
//@media screen and (min-width: 1250px){
//  .doctor__slider {
//    width: 1250px;
//  }
//}
//
//@media screen and (min-width: 1050px){
//  .doctor__slider {
//    width: 1050px;
//  }
//}
//
//@media screen and (min-width: 850px){
//  .doctor__slider {
//    width: 850px;
//  }
//}
//
//
//@media screen and (min-width: 720px){
//  .doctor__slider {
//    width: 720px;
//  }
//}