@import "styles/mixins";

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.link {
  @include bold-text;
  margin-left: 23px;
  a {
    color: $c-black;
    margin-right: 20px;

    &:hover {
      color: $c-orange;
    }
    &.active {
      color: $c-orange;
      border-bottom: 3px solid $c-orange;
      padding-bottom: 38px;
    }
  }
}

.hr {
  background-color: $c-light-gray;
}

.headerTop {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    @include regular-text;
  }

  a {
    color: $c-black;
    margin-left: 10px;
  }
}

.header {
  border-bottom: 3px solid $c-light-gray;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $c-white;


  &__navbar {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 360px;
  }
}

.main {
  margin-top: 20px;

  h1 {
    @include header-text;
    margin-bottom: 40px;
  }

  p {
    @include average-text;
  }

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.footer {
  background: $c-light-gray;
  margin-top: 90px;

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__contacts {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 16px 16px 0;
      @include regular-text;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    &__block {
      display: flex;
      flex-direction: column;
      margin-right: 100px;

      h2 {
        @include bold-text;
      }

      &__icons {
        display: flex;
        flex-direction: row;
      }

      &__payment {
        margin-top: -15px;
      }
    }
  }

  a {
    color: $c-black;
    margin-left: 10px;
  }

  p {
    @include small-text;
    color: $c-gray;
  }
}