@import "/styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid $c-orange;
  border-radius: 5px;
  padding: 30px;
  width: 580px;
  margin-bottom: 20px;

  h4 {
    @include bold-text;
    margin-bottom: 5px;
  }

  p {
    @include small-text;
    line-height: 20px;
  }

  h6 {
    @include regular-text;
    font-weight: bold;
    color: $c-gray;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1250px){
  .section {
    width: 490px;
  }
}

@media screen and (max-width: 1050px){
  .section {
    width: 390px;
  }
}

@media screen and (max-width: 850px){
  .section {
    width: 290px;
    p {
      @include regular-text;
    }
    h4 {
      @include small-text;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 420px){
  .section {
    width: 320px;
    padding: 20px;
  }
}

