@import "styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid $c-gray;
  border-radius: 8px;
  padding: 60px;
  width: 580px;
  h4 {
    @include bold-text;
  }
  p {
    @include regular-text;
    line-height: 20px;
  }
  h6 {
    @include regular-text;
    font-weight: bold;
    color: $c-gray;
  }
}