@import "../../../styles/mixins";

.card{
  border: 1px solid $c-light-gray;
  cursor: pointer;
  max-width: 285px;

  p{
    cursor: pointer;
  }


  &__bottom{
    margin: 8px auto 10px 20px;
  }
}

.card:nth-child(n+5){
  margin-top: 100px;
}

