@import "/styles/mixins";

.card{
  border: 1px solid $c-light-gray;
  cursor: pointer;
  max-width: 285px;

  @include laptop1050{
    width: 250px;
  }

  @include tablet720 {
    width: 230px;
  }

  @include tablet620 {
    width: 190px;
  }

  @include phone {
    width: 285px;
    margin-bottom: 20px;
  }

  p{
    cursor: pointer;
  }


  &__bottom{
    margin: 8px auto 10px 20px;
  }

  @include phone {
    text-align: center;
  }
}

.card:nth-child(n+5){
  margin-top: 100px;

  @include laptop1250 {
    margin-top: 30px;
  }

  @include tablet620 {
    margin-top: 10px;
  }

  @include phone {
    margin-top: 0;
  }
}

