@import "/styles/mixins";

.aboutClinic {
  display: flex;
  flex-direction: row;
  column-gap: 120px;
  margin-top: 20px;
  margin-bottom: 50px;

  @include tablet850 {
    width: 650px;
  }

  @include tablet720 {
    width: 550px;
    align-items: center;
  }

  @include tablet620 {
    width: 400px;
    flex-direction: column;
  }
}