@import "../mixins";

.clinic {

  &__p {
    @include small-text;
  }
}

.clinicCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.clinicPage {

  img {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__quote{
    @include bold-text;
    margin: 0 auto;
  }

  &__quote:before {
    color: $c-orange;
    content: "\201C";
    font-size: 50px;
  }
}