@import "../mixins";

.clinic{

  &__h1 {
    @include header-text;
    margin-bottom: 40px;
  }

  &__p {
    @include small-text;
  }
}

.clinicCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}