@import "../mixins";

.clinic{

  &__p {
    @include small-text;
  }
}

.clinicCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.clinicPage{

  img{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}