@import "styles/mixins";

.doctorPage {
  h6 {
    @include small-text;
    font-weight: bold;
    color: $c-gray;
    margin-bottom: 10px;
  }

  h5 {
    @include regular-text;
    font-weight: bold;
    color: $c-orange;
  }
}

.doctorTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;

  img {
    width: 400px;
    height: 400px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;

    p {
      margin-top: 20px;
      @include small-text;
      color: $c-gray;
    }

  }
}

.doctorDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;

  &__block {
    margin-bottom: 40px;
  }
}

.items {
  margin-bottom: 30px;
}
