@import "styles/mixins";

.healthCare {
  background: $c-light-gray;
  margin-top: 20px;
  &__item {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    p {
      margin-left: 10px;
    }
  }
}

.legendaryDoctors {
  margin-bottom: 20px;
  &__description {
    display: flex;
    flex-direction: row;
    &__item {
      display: flex;
      flex-direction: row;
      margin-left: 45px;
      margin-top: -8px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
}

.reviews {
  margin-top: 40px;
  p {
    @include regular-text;
    color: $c-orange;
  }
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.address {
  margin-top: 60px;
  &__info {
    display: flex;
    flex-direction: row;

    &__text {
      display: flex;
      flex-direction: column;
      margin-left: 140px;
    }
  }
  h6 {
    @include regular-text;
    font-weight: bold;
    color: $c-gray;
  }
  p {
    @include small-text;
  }
}
