@import "/styles/mixins.scss";

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;


  &__visits {
    background-color: $c-light-yellow;
    padding: 10px 0 10px 10px;
    width: 700px;
    min-height: 300px;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 40px;
    }
  }
}

.review {
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  &__button {
    width: 350px;
  }

  h1 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 35px;
  }

  &__reviewName {
    height: 50px;
    margin-bottom: 15px;
    border: 1px solid $c-gray;
    border-radius: 4px;
  }

  &__reviewText {
    @extend .review__reviewName;
    height: 150px;
    resize: vertical;
  }
}

.visitsSkeleton {
  margin-top: 40px;

  &__item {
    margin-bottom: 20px;
  }
}

.logoutBtn {
  float: right;
  margin-top: 70px;
}
