@import "styles/mixins";

.loginPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;

  &__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: -50px;

    @include phone {
      margin-top: -50px;
    }

    &__img {
      width: 180px;
      height: 110px;
      @include phone {
        width: 120px;
        height: 50px;
      }
    }
  }

  &__popup {
    overflow-y: scroll;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 700px;
    padding: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 30px;

    @include phone {
      max-width: 350px;
    }

    input {
      height: 50px;
      width: 380px;
      border-radius: 8px;
      border: 1px solid $c-dark-gray;
      margin-bottom: 15px;
      padding-left: 16px;

      @include phone {
        width: 250px;
      }
    }

    input:first-child {
      margin-top: 0;
    }

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -20px;
    }

    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 25px;

      p {
        @include phone {
          font-size: 12px;
        }
      }
    }

  }
}

.modal_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__gender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }
}