@import "colors";

@mixin regular-style {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $c-black;
}

@mixin header-text {
  @include regular-style;
  font-size: 40px;
  font-weight: 400;
}

@mixin average-text {
  @include regular-style;
  font-size: 20px;
}

@mixin bold-text {
  @include regular-style;
  font-size: 18px;
  font-weight: bold;
}

@mixin small-text {
  @include regular-style;
  font-size: 16px;
}

@mixin regular-text {
  @include regular-style;
  font-size: 14px;
}

@mixin standard-text {
  @include regular-style;
  font-size: 12px;
}

@mixin modalText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}

@mixin header-text-adaptive {
  @include regular-style;
  font-size: 25px;
  font-weight: 400;
}


@mixin laptop1250 {
  @media(max-width: 1250px) {
    @content
  }
}

@mixin laptop1050 {
  @media(max-width: 1050px) {
    @content
  }
}

@mixin tablet850 {
  @media(max-width: 850px) {
    @content
  }
}

@mixin tablet720 {
  @media(max-width: 720px) {
    @content
  }
}

@mixin tablet620 {
  @media (max-width: 620px) {
    @content
  }
}

@mixin tablet450{
  @media (max-width: 450px){
    @content
  }
}

@mixin forSlider {
  @media(max-width: 500px) {
    @content
  }
}

@mixin phone {
  @media(max-width: 420px) {
    @content
  }
}
